<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html> 

<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card" style="margin-top: 90px;">
			<div class="card-header">
				<h3 class="text-centre">Reset Password</h3>
				<!-- <div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div> -->
			</div>
            <br>
            <br>
			<div class="card-body">
				<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="New Password">
						
					</div>
                    <br>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="Confirm Password">
					</div>
                    <br>
					
					<div class="form-group buttonn">
						<input type="submit" value="Confirm" class="btn float-right login_btn">
					</div>
                    <br>

                    
				</form>
                <div class="d-flex justify-content-center links log">
                    <span class="line-break">Back to</span>
                    <br>
                    <br>
                    <a routerLink="/login">Login</a>
                    
                  </div>
			</div>
			<div class="card-footer">
                

                
        
              
				
			</div>
		</div>
	</div>
</div>
</body>
