@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

html, body {
    font-family: 'Numans', sans-serif;
    overflow: hidden;
}

.container {
    background-size: 100%;
    height: 100vh;
    display: flex; 
    justify-content: center;
}
.card {
    height: 370px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
  }

body {
    display: flex; 
    justify-content: center;
    align-items: center;
    overflow-y: hidden; 
    background-image: url('https://images.pexels.com/photos/989785/pexels-photo-989785.jpeg?cs=srgb&dl=snow-landscape-nature-989785.jpg&fm=jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
}

.panel-default {
    border-color: #696565;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.input-group-prepend span {
    width: 50px;
    background-color: #627c86;
    color: black;
    border: 0 !important;
  }

  .buttonn {
    display: flex;
    justify-content: center;
  }

.panel-body {
    padding: 40px;
}
.form-group {
    margin-left: auto;
    margin-right: auto;
  }

.text-center {
    margin-bottom: 15px;
}
.card-header h3 {
    color: rgb(231, 226, 226);
  }
  .card-footer .links a {
    color: rgb(40, 101, 126); /* Replace "red" with the desired color */
    font-size: 15px; /* Replace "18px" with the desired font size */
  }

.fa-lock {
    font-size: 72px;
}

h2 {
    margin-top: 0;
}
/* .text-centre {
    text-align: center;
  } */
  .text-centre {
    text-align: center;
    font-size: 24px;
  }
  
  .input-group-text {
    background-color: #627c86;
    color: black;
    border: 0;
  }

.color-blue {
    color: rgb(32, 82, 83);
}
.log {
    font-size: large;
}

.btn-primary {
    background-color: rgb(8, 60, 80);
    border-color: rgb(20, 73, 75);
}

.btn-primary:hover {
    background-color: rgb(25, 128, 122);
    border-color: rgb(32, 48, 53);
}
.password-match-error {
    color: red;
    font-size: 14px;
    display: none;
  }
  
  .password-updated-success {
    color: green;
    font-size: 14px;
  }
  

